<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.CallRecordMapper">

    <resultMap type="com.och.system.domain.entity.CallRecord" id="CallRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="callId" column="call_id" jdbcType="INTEGER"/>
        <result property="agentId" column="agent_id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="caller" column="caller" jdbcType="VARCHAR"/>
        <result property="callerProvince" column="caller_province" jdbcType="VARCHAR"/>
        <result property="callerCity" column="caller_city" jdbcType="VARCHAR"/>
        <result property="callee" column="callee" jdbcType="VARCHAR"/>
        <result property="calleeCity" column="callee_city" jdbcType="VARCHAR"/>
        <result property="calledProvince" column="called_province" jdbcType="VARCHAR"/>
        <result property="origCaller" column="orig_caller" jdbcType="VARCHAR"/>
        <result property="origCallee" column="orig_callee" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="ringingTime" column="ringing_time" jdbcType="TIMESTAMP"/>
        <result property="answerTime" column="answer_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="agentRingingTime" column="agent_ringing_time" jdbcType="TIMESTAMP"/>
        <result property="agentAnswerTime" column="agent_answer_time" jdbcType="TIMESTAMP"/>
        <result property="agentEndTime" column="agent_end_time" jdbcType="TIMESTAMP"/>
        <result property="duration" column="duration" jdbcType="INTEGER"/>
        <result property="hangupCause" column="hangup_cause" jdbcType="VARCHAR"/>
        <result property="direction" column="direction" jdbcType="INTEGER"/>
        <result property="filepath" column="filepath" jdbcType="VARCHAR"/>
        <result property="queueStime" column="queue_stime" jdbcType="TIMESTAMP"/>
        <result property="queueEtime" column="queue_etime" jdbcType="TIMESTAMP"/>
        <result property="recordStartTime" column="record_start_time" jdbcType="TIMESTAMP"/>
        <result property="hangupDir" column="hangup_dir" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="transferAgent" column="transfer_agent" jdbcType="INTEGER"/>
        <result property="transferAgentTime" column="transfer_agent_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>


</mapper>

