<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.CallDisplayPoolRelMapper">

    <resultMap type="com.och.system.domain.entity.CallDisplayPoolRel" id="CallisplayPoolRelMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="poolId" column="pool_id" jdbcType="INTEGER"/>
        <result property="displayId" column="display_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>


</mapper>

