<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.CallDisplayPoolMapper">

    <resultMap type="com.och.system.domain.entity.CallDisplayPool" id="CallDisplayPoolMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.och.system.domain.vo.display.CallDisplayPoolVo" id="CallDisplayPoolDetailMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <collection property="phoneList" ofType="com.och.system.domain.vo.display.CallDisplaySimpleVo">
            <result property="displayId" column="display_id" jdbcType="VARCHAR"/>
            <result property="displayNumber" column="display_number" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

   <sql id="selectCallDisplayPoolInfoVo">
       select
           cdp.id,
           cdp.name,
           cdp.`type`,
           cdp.tenant_id,
           cdp.create_by,
           cdp.create_time,
           cdp.update_by,
           cdp.update_time,
           cd.id as display_id,
           cd.phone as display_number
       from call_display_pool cdp
       left join call_display_pool_rel cdpr on cdp.id = cdpr.pool_id and cdpr.del_flag = 0
       inner join call_display cd on cd.id = cdpr.display_id
   </sql>

    <select id="getPoolDetail" resultMap="CallDisplayPoolDetailMap">
        <include refid="selectCallDisplayPoolInfoVo"/>
        <where>
            and id = #{id}
        </where>
    </select>

    <select id="selectIdsByQuery" resultType="java.lang.Long">
        select
            distinct cdp.id
        from call_display_pool cdp
                 left join call_display_pool_rel cdpr on ldp.id = cdpr.pool_id and cdpr.del_flag = 0
                 inner join call_display cd on cd.id = cdpr.display_id
        <where>

        </where>
    </select>

    <select id="getList" resultMap="CallDisplayPoolDetailMap">
        <include refid="selectCallDisplayPoolInfoVo"/>
        <where>
            <if test="id != null ">
                and cdp.id = #{id}
            </if>
            <if test="ids != null and ids.size() > 0">
                and cdp.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="name != null and name != ''">
                and cdp.name like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and cdp.`type` = #{type}
            </if>
            and cdp.del_flag = 0
        </where>
    </select>

</mapper>

